import { request } from 'umi';
{% for value in data %}
{$ value.FuncComment $}
export async function {$value|getApiName $} ({$value|getApiParam$} {% if value.ReqParam !="" %}req: {$ value.ReqParam|getDefinitionName $},{% endif %}options?: { [key: string]: any }) {
  return request<{% if value.ResFuncName =="JSONListPage" %}ResListPage{% else %}Res{% endif %}<{% if value.ResParam !="" %}{$ value | getDefinitionNameV2 $}{% if value.ResIsArray%}[]{% endif %}{% else %}any{% endif %}>>({$value|getApiPath$}, {
    method: '{$value.Method$}',
    {% if value.ReqParam !="" %}data: req ,{% endif %}
    ...(options || {}),
  });
}
{% endfor %}
