import { request } from 'umi';



{% for value in data %}
// {$ value.FuncName $}
export async function {$value|getApiName $} ({% if value.ReqParam !="" %}req: {$ value.ReqParam|getDefinitionName $},{% endif %}options?: { [key: string]: any }) {
  return request('{$value.FullPath$}', {
    method: '{$value.Method$}',
    {% if value.ReqParam !="" %}body: req ,{% endif %}
    ...(options || {}),
  });
}

{% endfor %}

{% for key, valueDef in definitions %}
{% if valueDef| getDefinitionType == "object" %}
type {$ key|getDefinitionName $} = {
    {% for key, value in valueDef.SchemaProps.Properties %}
    {$ key $}: {$ value|getFieldTypescriptType $}; // {$ value |getDescription $}
    {% endfor %}
}
{% endif %}
{% if valueDef| getDefinitionType == "array" %}
type {$ key|getDefinitionName $} = {$ valueDef | getFieldTypescriptType $}
{% endif %}
{% endfor %}